<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head(title='Users')">
        <title>Title</title>
    </head>
    <body>
        <main class="container">
            <div th:replace="fragments/layout :: menu"></div>
            <h4>All users</h4>
            <ul>
                <li th:each="account : ${accounts}" th:text="${account.username}">name</li>
            </ul>
            <div sec:authorize="isAuthenticated()">authenticated</div>

                <div sec:authorize="isAnonymous()">not</div>
        </main>
    </body>
</html>
