<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head(title='Users')">
        <title>Title</title>
    </head>
    
    <body>
        <main class="container">
            <div th:replace="fragments/layout :: menu"></div>
            
            <h3>Users</h3>
            <hr />
            <h4>Search</h4>
            <form th:action="@{/users/search}" method="get">
                Search by name or username: <input type="text" name="nameusername" />
                <input type="submit" value="Search for user" />
            </form>
            <hr />
            
            <h4>Users found</h4>
            <div th:if="!${accounts.isEmpty()}">
              <table class="table">
                <tr>
                  <th>Full name</th>
                  <th>Registered</th>
                  <th>Follow user</th>
                </tr>
                <tr th:each="account : ${accounts}">
                    <td>
                        <a th:href="@{/users/{signature}(signature=${account.signature})}" th:text="${account.fullName}"></a>
                    </td>
                  <td th:text="${#temporals.format(account.createDateTime, 'dd.MM.YYYY')}"></td>
                  <td>
                      <form th:if="${#request.userPrincipal != null}" th:action="@{/users/follow}" method="POST">
                          <input type="hidden" th:name="follower" th:value="${#request.userPrincipal.principal.signature}" />
                          <input type="hidden" th:name="followed" th:value="${account.signature}" />
                          <input type="submit" value="follow" />
                      </form>
                  </td>
                </tr>
              </table>
            </div>
            <div th:if="${accounts.isEmpty()}">No users found</div>
        </main>
    </body>
</html>
