<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head(title=${account.fullName} + ' profile')">
        <title>Title</title>
    </head>
    <body>
        <main class="container">
            <div th:replace="fragments/layout :: menu"></div>
            <h4>Account parameters</h4>
            <table class="table">
              <tr>
                <td>Account created</td>
                <td th:text="${#temporals.format(account.createDateTime, 'dd.MM.YYYY HH:mm')}">created</td>
              </tr>
              <tr>
                <td>Account last updated</td>
                <td th:text="${#temporals.format(account.updateDateTime, 'dd.MM.YYYY HH:mm')}">updated</td>
              </tr>
              <tr>
                <td>Username</td>
                <td th:text="${account.username}">username</td>
              </tr>
              <tr>
                <td>Full name</td>
                <td th:text="${account.fullName}">name</td>
              </tr>
              <tr>
                <td>Public signature</td>
                <td th:text="${account.signature}">signature</td>
              </tr>
            </table>
            <h4>Following</h4>
            <div th:if="!${account.following.isEmpty()}">
              <table class="table">
                <tr th:each="following : ${account.following}">
                  <td th:text="${following.fullName}"></td>
                  <td>link to profile</td>
                  <td>unfollow</td>
                </tr>
              </table>
            </div>
            <div th:if="${account.following.isEmpty()}">You are not following anyone</div>

            <ol>
                <li th:each="following : ${account.following}">
                    <span th:text="${following.username}">Following</span>
                </li>
            </ol>
        </main>
    </body>
</html>
