<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head(title='Vanhan kansan Twitter')">
        <title>Title</title>
    </head>
    <body>
        <main class="container">
            <div th:replace="fragments/layout :: menu"></div>
            <h1>Welcome to Wepa-Twitter</h1>
            <hr />

            <div th:if="${account != null}">
                <h3 th:text="${'Hello ' + account.fullName}"></h3>
                <hr />
                <form th:action="@{/wall/newmess}" method="POST">
                    New Message: <input type="text" name="message" />
                    <input type="submit" value="Post" />
                </form>
                <div th:if="${images != null}">
                  <h4>10 latest images in my flow</h4>
                  <table class="table">
                    <tr>
                      <th>image</th>
                      <th>kolumni</th>
                    </tr>
                    <tr th:each="image : ${images}">
                      <td>
                      <a th:href="@{/images/{id}(id=${image.id})}">
                        <img th:src="@{/images/{id}(id=${image.id})}" th:alt="${image.name}" style="width:100px;height750px;"/>
                      </a>
                    </td>
                    <td th:text="${image.name}">
                    </td>
                    </tr>
                  </table>
                </div>
                <div th:if="${messages != null}">
                    <h4>25 Latest messages in my flow</h4>
                    <table class="table">
                        <tr>
                            <th>Message</th>
                            <th>Posted By</th>
                            <th>Posted</th>
                            <th>Updated</th>
                            <th>Comments</th>
                            <th>Likes</th>
                            <th>Like</th>
                        </tr>
                        <tr th:each="message : ${messages}">
                            <td>
                              <a th:href="@{/wall/{id}(id=${message.id})}"><span th:text="${message.content}"/></a>
                            </td>
                            <td th:text="${message.account.fullName}"></td>
                            <td th:text="${#temporals.format(message.createDateTime, 'dd.MM.YYYY HH:mm')}"></td>
                            <td th:text="${#temporals.format(message.updateDateTime, 'dd.MM.YYYY HH:mm')}"></td>
                            <td th:text="${message.getCommentsCount()}" />
                            <td th:text="${message.getLikesCount()}">10</td>
                            <td>
                              <form th:action="@{/wall/like}" method="POST">
                                  <input type="hidden" th:name="messageId" th:value="${message.id}" />
                                  <input type="submit" value="Like" />
                              </form>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div th:if="${account == null}">
                <h3>Hello there</h3>
                <span>
                    This application provides a lot of nice features, but you need to create an account to be able to use them. Please use the <a th:href="@{/registration}">registration link</a>, it's completely free! If you already have an account, please <a th:href="@{/login}">login</a> to continue using this application.
                </span>
            </div>
        </main>
    </body>
</html>
